# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear

# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle #
*/.gradle
*/build/

# IntelliJ IDEA #
.idea/
*.iws
*.iml
*.ipr

# Eclipse #
.settings/
.project
*.tmp
*.bak
*.swp
*~.nib
tmp/
bin/

# NetBeans #
nbproject/private/
build/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OS-specific files #
.DS_Store
Thumbs.db
